:root {
  --cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --grayish-blue: hsl(201, 11%, 66%);
  --dark-grayish-blue: hsl(210, 10%, 33%);

  --font-family: "Bai Jamjuree", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a,
button {
  border: none;
  font: inherit;
  color: inherit;
  background: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* Components */

.container {
  width: 100%;
  padding-inline: 24px;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    margin-inline: auto;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.btn {
  color: #fff;
  height: 60px;
  width: 310px;
  cursor: pointer;
  max-width: 100%;
  font-size: 19px;
  font-weight: 600;
  border-radius: 30px;
  will-change: opacity;
  transition-duration: 0.3s;
  transition-property: opacity;
  box-shadow: inset 0px -2px 1px rgb(0 0 0 / 24%);
}
.btn:is(:hover, :focus-visible) {
  opacity: 0.9;
}
.actions:has(.btn) {
  display: flex;
  row-gap: 20px;
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 992px) {
  .btn {
    width: 225px;
  }
  .actions:has(.btn) {
    column-gap: 15px;
    flex-direction: row;
    justify-content: center;
  }
}
.btn-cyan {
  background-color: var(--cyan);
}
.btn-blue {
  background-color: var(--light-blue);
}

.info-block {
  display: flex;
  flex-direction: column;
}
.info-block-center {
  text-align: center;
}
.info-block.xs-gap {
  row-gap: 15px;
}
.info-block.sm-gap {
  row-gap: 20px;
}
@media (min-width: 992px) {
  .info-block.sm-gap-desktop {
    row-gap: 20px;
  }
}
.info-block .title {
  line-height: 1.3;
  font-weight: 600;
  color: var(--dark-grayish-blue);
}
.info-block.info-header .title {
  font-size: 1.7rem;
}
.info-block .txt {
  line-height: 1.5;
  color: var(--grayish-blue);
}
@media (min-width: 992px) {
  .info-block.info-header {
    padding: 0;
    max-width: 690px;
    margin-inline: auto;
  }
  .info-block.info-header .title {
    font-size: 2.2rem;
  }
  .info-block.info-header .txt {
    font-size: 18px;
  }
}

/* Page */

body {
  min-height: 100vh;
  font-family: var(--font-family);
}

/* Header area */

.header {
  background-size: 100%;
  padding-block: 120px 165px;
  background-repeat: no-repeat;
  background-image: url(images/bg-header-mobile.png);
}
.header-wrapper {
  display: grid;
  text-align: center;
  justify-items: center;
}
.header .logo {
  margin-bottom: 65px;
}
.header .hero .title {
  font-size: 1.9rem;
}
@media (min-width: 992px) {
  .header {
    padding-block: 130px 155px;
    background-image: url(images/bg-header-desktop.png);
  }
  .header-wrapper {
    padding: 0;
    max-width: 690px;
  }
  .header .logo {
    margin-bottom: 55px;
  }
  .header .hero .title {
    font-size: 2.75rem;
  }
  .header .hero .txt {
    font-size: 20px;
  }
}

/* Track section */

.track {
  padding-bottom: 200px;
}
.track-wrapper {
  margin-top: 65px;
}
.track-image {
  margin-bottom: 60px;
  padding-inline: 24px;
}
.track-unit:not(:last-child) {
  margin-bottom: 60px;
}
.track-unit .title {
  line-height: 1;
  font-size: 1.5rem;
}
@media (min-width: 992px) {
  .track {
    overflow-x: hidden;
    padding-bottom: 160px;
  }
  .track-wrapper {
    display: grid;
    margin-top: 85px;
    grid-template-columns: 1fr 1fr;
  }
  .track-image {
    margin-bottom: 0;
    padding-inline: 0;
    position: relative;
    left: -20px;
  }
  .track-unit {
    text-align: left;
    max-width: 335px;
  }
}

/* Access section */

.access {
  padding-bottom: 100px;
}
.access-img {
  margin-top: 60px;
}
@media (min-width: 992px) {
  .access {
    padding-bottom: 70px;
  }
  .access-img {
    margin-top: 100px;
  }
}

/* Workflow section */

.workflow {
  padding-bottom: 130px;
}
.workflow-units {
  display: grid;
  row-gap: 60px;
  margin-top: 90px;
  text-align: center;
}
.workflow-unit .icon {
  margin-bottom: 40px;
}
.workflow-unit:first-child .icon {
  margin-bottom: 32px;
}
@media (min-width: 992px) {
  .workflow {
    padding-bottom: 160px;
  }
  .workflow-units {
    gap: 0 30px;
    margin-top: 70px;
    justify-content: center;
    grid-template-columns: minmax(0, 327px) minmax(0, 340px) minmax(0, 345px);
  }
}

/* Companies section */

.companies {
  display: grid;
  row-gap: 60px;
  justify-content: center;
}
@media (min-width: 992px) {
  .companies {
    column-gap: 6.5%;
    grid-template-columns: repeat(5, max-content);
  }
}

/* Download section */

.download {
  padding-block: 175px 170px;
}
@media (min-width: 992px) {
  .download {
    padding-block: 160px 150px;
  }
}

/* Footer area */

.footer {
  padding-block: 20px 45px;
  background-color: #f6f7f9;
}
.footer a {
  transition-duration: 0.3s;
  transition-property: color;
}
.footer a:is(:hover, :focus-visible) {
  color: var(--cyan);
}

.footer-wrapper {
  display: grid;
  text-align: center;
  justify-items: center;
  justify-content: center;
}
.footer-logo {
  transform: scale(0.416);
}
.footer-links {
  display: grid;
  row-gap: 30px;
  font-size: 18px;
  color: var(--dark-grayish-blue);
}
.footer-social {
  display: flex;
  column-gap: 40px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: #4c545c;
}

@media (min-width: 992px) {
  .footer {
    padding-block: 20px 15px;
  }
  .footer-wrapper {
    max-width: 1110px;
    text-align: left;
    align-items: center;
    justify-items: start;
    justify-content: start;
    grid-template-columns: minmax(0, 190px) minmax(50%, 480px) minmax(0, 435px);
  }
  .footer-links {
    width: 100%;
    row-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-links :is(:nth-child(2), :nth-child(4)) {
    order: 4;
    display: flex;
  }
  .footer-social {
    margin-top: 0;
    column-gap: 20px;
    justify-self: end;
  }
}
@media (min-width: 1200px) {
  .footer-wrapper {
    padding: 0;
  }
}
